[submodule "web/packages/meteor-accounts-ldap"]
	path = web/packages/meteor-accounts-ldap
	url = https://github.com/yk/meteor-accounts-ldap.git
[submodule "web/packages/meteor-ldapjs"]
	path = web/packages/meteor-ldapjs
	url = https://github.com/yk/meteor-ldapjs.git
